@model IEnumerable<SUPORT_SYSTEM.Models.ticket>

@{
    ViewBag.Title = "Closed";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{ string klasa = "green";}
<div class="header-button">
    <div class="header-column">
        <h1>Closed</h1>
    </div>
    <div class="header-column">
        <p align="right">
            <button onclick="window.location.href = 'https://localhost:44343/tickets/Create';">Create</button>
            <button onclick="window.location.href = 'https://localhost:44343/tickets';">Back to list</button>
        </p>
    </div>
</div>

<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Actions")
        </th>
        <th>
            Ticket No.
        </th>
        <th>
            @Html.DisplayName("Title")
        </th>
        <th>
            @Html.DisplayName("Status")
        </th>
        <th>
            @Html.DisplayName("Category")
        </th>
        <th>
            @Html.DisplayName("Severity")
        </th>
        <th>
            @Html.DisplayName("Priority")
        </th>
        <th>
            @Html.DisplayName("Raised by")
        </th>
        <th>
            @Html.DisplayName("Raised by")
        </th>
        <th>
            @Html.DisplayName("Due_on")
        </th>
        <th>
            @Html.DisplayName("Resolved_on")
        </th>
    </tr>

    @foreach (var item in Model)
    {
        if (item.status.name.Trim() == "Closed")
        { klasa = "green"; }
        <tr>
            <td>
                <a href=" https://localhost:44343/tickets/Edit/@item.ID_ticket"><img src="~/Image/folder.png" width="25" height="25" /></a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ID_ticket)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.title)
            </td>
            <td>
                <div class=" @klasa">
                    @Html.DisplayFor(modelItem => item.status.name)
                </div>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.category)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.severity.title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.priority)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.user.first_name)
                @Html.DisplayFor(modelItem => item.user.last_name)

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.raised_on)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.due_on)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.resolved_on)
            </td>
        </tr>
    }

</table>
