@model SUPORT_SYSTEM.Models.user

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="header-button">
        <div class="header-column">
            <h2>Edit / Create user</h2>
        </div>
        <div class="header-column">
            <p align="right">
                <button onclick="window.location.href = 'https://localhost:44343/users1/Index';">Back to list</button>
                <button onclick ="alert('User is created successfully!')" type="submit" value="Create">Create</button>
            </p>
        </div>
    </div>
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            <label class="control-label col-md-2" for="ID_user">Suggestion No.</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.ID_user, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ID_user, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2" for="first_name">First name:</label>
            <div class="col-md-10">
                <input class="form-control text-box single-line" id="first_name" name="first_name" type="text" value="">
                <span class="field-validation-valid text-danger" data-valmsg-for="first_name" data-valmsg-replace="true"></span>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="last_name">Last name:</label>
            <div class="col-md-10">
                <input class="form-control text-box single-line" id="last_name" name="last_name" type="text" value="">
                <span class="field-validation-valid text-danger" data-valmsg-for="last_name" data-valmsg-replace="true"></span>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="address">Address:</label>
            <div class="col-md-10">
                <input class="form-control text-box single-line" id="address" name="address" type="text" value="">
                <span class="field-validation-valid text-danger" data-valmsg-for="address" data-valmsg-replace="true"></span>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="city">City:</label>
            <div class="col-md-10">
                <input class="form-control text-box single-line" id="city" name="city" type="text" value="">
                <span class="field-validation-valid text-danger" data-valmsg-for="city" data-valmsg-replace="true"></span>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2" for="ID_country">Country:</label>
            <div class="col-md-10">
                @Html.DropDownList("ID_country", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ID_country, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2" for="phone">Phone:</label>
            <div class="col-md-10">
                <input class="form-control text-box single-line" id="phone" name="phone" type="text" value="">
                <span class="field-validation-valid text-danger" data-valmsg-for="phone" data-valmsg-replace="true"></span>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2" for="ID_user_role">Role:</label>
            <div class="col-md-10">
                @Html.DropDownList("ID_user_role", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ID_user_role, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2" for="active">Active:</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.active, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.active, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
